body {
    margin: 0px;
    overflow: hidden;
}

body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}


/*.legend {
  background-color: rgba(255,255,255,0.75);
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend h4 {
  margin: 0 0 10px 10px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}*/

#map {
    position: absolute;
    top: 0vh;
    bottom: 0;
    width: 100%;
/*     z-index: -1;*/

}

/*remove mapbox logo from map*/
a.mapboxgl-ctrl-logo {
    width: 0px;
    height: 0px;
}

/*remove mapbox link in small screan size---was glitchy so removed*/
.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
      content: none;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}


#legend {
    visibility: hidden;
}



/*overwrite leaflet tool tip style*/
.leaflet-tooltip {
background-color: transparent;
box-shadow:none;
border:0;
font-size: 300%;
color:white;

}


.legend {
    line-height: 18px;
    color: #555;
    opacity: 0.0;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
